*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

html, body{
    height: 100%;
}

body{
    background-color: rgb(135, 159, 138);
    
}

p{
    text-align: center;
}

.show{
    left: 0 !important;
}

.flip-horizontally{
    transform: scaleX(-1);
    position: absolute !important;
    left: 220px;
}

#nav-menu{
    width: 200px;
    height: calc(100vh - 230px);
    /*200px för top-bannern och 30px för footern*/
    flex-direction: column;
    margin-left: 3vh;
    display: flex;
    background-color:darkolivegreen;
    min-width: 100px;
}
.nav-button{
    margin-bottom: -5px;
    height: 100px;
    background-color: rgba(100, 100, 100,.2);
    border: 5px solid rgba(0,0,0,0.2);
}
.nav-button:hover
{
    background-color: rgba(30, 30, 30,.2);
    font-size: larger;
}
.nav-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.nav-link p{
    text-align: center;
    line-height: 100px;
    color: black;
}

.clicked{
    background-color: rgba(20, 20, 20, 0.3) !important;
}

.top-bar{
    width: 100%;
    height: 200px;
}

.top-bar img{
    width: 100%;
    height: 200px;
}

.top-bar h1{
    position: absolute;
    top: 90px;
    left: calc(50vw - 75px);
    text-align: center;
    background-color: rgba(150, 150, 150,.9);
    padding: 20px;
}

footer{
    background-color: darkolivegreen;
    height: 30px;
}
footer p{
    text-align: center;
    line-height: 30px;
}

main{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    min-height: calc(100vh - 230px);
}

.main-section{
    width:65vw;
    margin-right: 17.5vw;
    margin-left: 50px;
    margin-top: 50px;
}

.intro-header{
    text-align: center;
}

.about-me{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-me img{
    width: 30vw;
}
.about-me article, .about-me p{
    text-align: center;
    padding: 20px 20px 0 20px;
}
.about-me article{
    width: calc(50vw - 440px);
}

.main-section embed{
    width: 100%;
    height: 100%;
}

.form-page{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.form{
    width: 70%;
    margin: 15px 15%;
    border: 5px black solid;
    border-radius: 10px;
}

.form form{
    margin: 15px;
}

.form form div{
    margin-bottom: 15px;
}

#msg{
    width: 50%;
    height: 100px;
}

input[type=submit]{
    padding: 5px 10px;
}

.links{
    width: 70%;
    margin: 15px 15%;
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
}

.links a{
    margin: 0 7px;
    height: 40px;
    border: 5px black solid;
    border-radius: 10px;
}

.links a img{
    height: 100%;
}

.all-skills{
    margin: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 10px;
}

.skills{
    background-color: rgba(44, 56, 23, 0.7);
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 5px rgba(0,0,0,0.2) solid;
}

.skills img{
    width: 100px;
}

.intro-text-technical{
    text-align: center;
    margin: 20px;
}

.cv-main{
    height: 1000px !important;
}

.mobile-nav-arrow{
    width: 100px;
    height: 100px;
    visibility: hidden;
}

.mobile-nav-arrow:hover{
    cursor: pointer;
}

.mobile-nav-arrow img{
    width: 100px;
    height: 100px;
}

.skills-header{
    display: flex;
    align-items: end;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: rgb(206, 223, 208);
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content div{
    height: 30px;
    line-height: 30px;
    outline:  2px black ridge;
}

.dropdown-content div:hover{
    background-color: bisque;
    cursor: pointer;
}

.dropdown-menu:hover .dropdown-content {
    display: flex;
}

.dropdown-btn{
    background-color: rgb(206, 223, 208);
    width: 80px;
    height: 50px;
}

@media screen and (max-width: 1200px){
    .skills{
        width: 45vw;
    }
    .about-me{
        flex-direction: column;
    }
    .about-me article{
        width: 100%;
    }
    .technical-page{
        margin-right: 10px !important;
    }
}

@media screen and (max-width: 800px){
    p, a{
        font-size: larger;
    }
    #nav-menu{
        position: absolute;
        left: -500px;
        top: 200px;
        transition: left .2s;
    }
    .main-section{
        width: 80vw;
        margin-right: 2vw;
        margin-left: 5px;
    }

    .about-me{
        width: 50vw;
    }

    .mobile-nav-arrow{
        visibility: visible;
    }
}